
body{
    position:relative;
    width: 100%;
    font-family: helvetica, arial;
    font-weight: 100;
}

h1{
    font-weight: 100;
}

.week, .weekend, .blank, .mois {
    width: 50px;
    height: 50px;
    margin: 3px;
    float: left;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
}

.names{
    width: 50px;
    height: 80px;
    margin: 3px;
    float: left;
    text-align: center;
    line-height: 80px;
    background-color:#FFFFFF;
    color: #777777;
}
.week:hover, .weekend:hover, .blank:hover {
    margin: 1px;
    padding:2px;
    cursor: default;
    -webkit-box-shadow: 2px 2px 4px #999;
}

.mois{
    color: #CCCCCC;
    -webkit-transform: rotate(90deg);
    font-size: 26px;
    font-weight: 100;
    padding-left: 30px;
}
.spacer{
    clear: both;
    float: left;
    width: 50px;
}


.blank{
    color: #CCCCCC;
    background-color:#F9F9F9;
}

.week{
    background-color: #CCFFCC;
    color: #999999;
}
.weekend{
    background-color: #CCCCCC;
}


#weekNames{
    width: 600px;
    position:fixed;
    padding-top: 30px;
    top:0px;
    background-color: #FFFFFF;
    z-index: 10;
    margin: 0px 0px 0px -8px;
    height: 80px;
}

#calendar{
    width: 450px;
    margin: 0px auto 0px auto;
    padding: 100px;
   
}
#projects{
    width:400px;
    float: left;
    margin-left: 30px;
    position: fixed;
}
.today{
    margin: 2px;
    border: solid #CCCCCC 1px;
}

.today:hover{
    margin: 1px;
    padding: 1px;
}
